<h1>Lista de Deputados</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Partido</th>
      <th>UF</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deputados.each do |deputado| %>
      <tr>
        <td><%= deputado.nome_parlamentar %></td>
        <td><%= deputado.partidos.first.nome %></td>
        <td><%= deputado.unidade_federativa.sigla %></td>
        <td><%= deputado.email %></td>
        <td><%= link_to 'Show', deputado %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
