<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @deputado.nome_parlamentar %>
</p>

<p>
  <strong>Partido:</strong>
  <%= @deputado.partidos.first.nome %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @deputado.sexo %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @deputado.unidade_federativa.sigla %>
</p>

<p>
  <strong>Email:</strong>
  <%= @deputado.email %>
</p>

<%= link_to 'Back', deputados_path %>
