<div class="loading">
  <div class="signal">
  </div>
</div>    
<div class="popover"><span class="nome">ABELARDO CAMARINHA</span>
  <div class="partido">PSB / SP</div>
  <div class="tick"></div>
</div>
<div class="popover2"><span class="nome">ABELARDO CAMARINHA</span>
  <div class="tick"></div>
</div>
<div class="row no-gutter">
  <div class="col-md-3 full-height">
  <div class="content-description">
    <div class="logo"><%= image_tag("logo.png") %></div>
    <h1 class="title">Retórica Parlamentar<sup>beta</sup></h1>  
    <div class="description">
      <div class="input-group margin-bottom-sm busca">
        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
        <input class="typeahead" type="text" placeholder="Buscar deputados">
      </div>
      <div class="info">
        <h3 class="name"></h3>
        <p class="part"></p>
        <p class="email"></p>
        <a href="http://www.mozilla.com/" target="_blank" class="site"></a>
      </div>
      <div class="row temas">
        <h3>Temas</h3>
        <div class="col-md-6" id="col_1">
        </div>
        <div class="col-md-6" id="col_2">
        </div>
      </div>
      <div class="row sobre">
        <h3>Sobre o Retórica Parlamentar</h3>
        <p class="detail">Fixie Carles flannel aesthetic. Craft beer squid fap taxidermy PBR kogi farm-to-table pour-over cliche locavore. Tonx actually mixtape, quinoa kale chips keffiyeh roof party squid disrupt yr. Gentrify authentic cray Brooklyn roof party pork belly, pop-up distillery taxidermy mlkshk Odd Future beard Wes Anderson chillwave. Shabby chic skateboard tote bag, cred next level distillery forage American Apparel. DIY dreamcatcher Pinterest paleo tote bag, blog hoodie wayfarers. XOXO gentrify health goth irony, cliche meh viral biodiesel.</p>
      </div>
      <div class="intro">
        <p class="headline">Visualização da ênfase por <a id="temas" class="in-link" href="#">temas</a> dos deputados brasileiros durante seus discursos.</p>
        <p class="detail">Dos mais de 84 mil discursos proferidos por deputados levantamos os 70 principais temas e quais os deputados mais relacionados com cada um deles.</p>
      </div>      
    </div>
    <div class="foot">
    <p>Análise estatística e temática dos discursos feita por <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4220296U3">Davi Moreira</a> e <a href="https://sites.google.com/site/galdinomcz/">Manoel Galdino</a>. Visualização dos dados por <a href="http://luiscarli.com">Luis Carli</a>. e pela equipe do Laboratório Hacker da Câmara dos Deputados. <a id="sobre" class="in-link" href="#">Saiba mais sobre</a></p>
    <p>Esse projeto faz uso do <a href="http://www.r-project.org">software R</a> e das bibliotecas <a href="http://d3js.org">d3.js</a> e <a href="http://lodash.com">lodash.js</a></p>
    </div>
  </div>    
    <!--<div class="ano-dropdown">
        <div class="input-group margin-bottom-sm ano">        
            <input class="anos" type="text" placeholder="Ano">
            <span class="input-group-addon"><i class="fa fa-caret-down fa-fw"></i></span>
        </div>
    </div>-->   
    </div>
    <div class="col-md-9 no-float">
    <svg id="main">
    </svg>
    </div> 
</div>
<div class="dropdown ano">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
     <span class="label"><%= @dashboard.title %></span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <% Dashboard.nin(_id: [@dashboard.id]).each do |dashboard| %>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= url_for dashboard %>"><%= dashboard.title %></a></li>
    <% end %>
  </ul>
</div>


<script type="text/javascript">
  doTheThing("<%= dashboard_url(:id => @dashboard.id, :format => :json) %>");
</script>
